<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Notification Mail</title>
  </head>
  <body>
    <h1>Notification Mail</h1>
    <p>Notification mail for <a href="mailto:#{@user.email}">#{@user.name}</a> from <a href="mailto:user@example.com">user@example.com</p>
  </body>
</html>